.contact{
    background-color: rgb(35, 34, 34);
    border-radius: 50px;
    color: white;
    width: 500px;
    padding: 15px;
    margin: 30px;
    border-bottom: 2px solid green;
}

.contact span{
display: block;
font-size: 17px;
}

@media screen and (max-width:600px) {
    .contact{
        width: 280px;
    }

    .contact span{
        font-size: 15px;
    }
}